@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}

.bg-color{
    background-color: #412567;
}
main,.about-section,.episodes-section{
    max-width: 1600px;
    margin: 0 auto;
}
.text-white{
    color: #FFFFFF;
    font-weight: 400;
}
.gradient-text{
    background: linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-gradient{ 
    background: linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
.badge{
    position: relative;
    left: 255px;
    bottom: 310px;
    background: #00ff88;
    color: black;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 255, 136, 1);
}
/* navbar-style */
.nav-btn{
    width: 135px;
    height: 44px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    transition: transform 1s, box-shadow 1s;
}
.nav-btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(251, 9, 180, 1);
}
.navbar{
    max-width: 1600px;
    margin: 0 auto;
    padding: 24px 0;
}
.navbar{
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style: none;
    font-weight: 400;
}
.nav-links{
    width: 218px;
    justify-content: space-between;
}
.nav-item a{
    text-decoration: none;
}
.brand{
    height: 32px;
    font-size: 2rem;
    color: #FFFFFF;
}
.menu-icon{
    display: none;
}
/* banner-section */
.banner-section{
    max-width: 1600px;
    padding: 100px 0;
    margin: 0 auto;
    background-image: url("assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-content{
    justify-content: center;
    max-width: 550px;
    margin: 0 auto;

}
.hero-logo{
    background-image: url("assets/hero-circle.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
}
.hero-logo img{
    margin: 77px 116px 97px;
}
.banner-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-title{
    font-size: 5rem;
    color: #FFFFFF;
    margin-top: 40px;
    font-weight: 800;
}
.hero-decription{
    color: white;
    opacity: 0.5;
    text-align: center;
    margin: 8px 0 24px;
}
.spotify-btn{
    width: 210px;
    height: 45px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    transition: transform 1s, box-shadow 1s;
}
.spotify-btn:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px rgba(251, 9, 180, 1);
}
.sub-btn{
    width: 147px;
    height: 45px;
    border: 1px solid #00FF88;
    background: none;
    border-radius: 10000px;
    font-weight: 600;
    color:#00FF88;
    transition: transform 1s, box-shadow 1s;
}
.sub-btn:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px #00FF88;
}
.hero-btn{
    gap: 8px;
    justify-content: center;
}
/* about-section */
.about-section{
    background-color: rgba(26, 11, 46, 1);
    height: 648px;
}
.about-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}
.aboout-title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}
.description{
    color: #FFFFFF;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
}
hr{
    margin: 80px 0px;
    opacity: 0.5;
}
.about-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-content: center;
}
.card-number{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: rgba(0, 255, 136, 1);
}
.card-info{
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 16px;
}

/* choose-section */
.choose-section{
   background-color: rgba(35, 14, 61, 1);
   /* height: 1120px; */
}
.choose-container{
    max-width: 1200px;
    margin: 0 auto;
}
.choose-title{
    padding-top: 120px;
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 40px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,225px) 275px;
    grid-gap: 30px;
    padding-bottom: 120px;;
    
}
.grid-item{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    text-align: start;
    padding: 0 40px;
    align-content: center;
}
.grid-title{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 16px 0;
}
.grid-description{
    color: #FFFFFF;
    opacity: 0.6;
    line-height: 24px;
    text-align: left;
}
.sidebar-rowspan{
    grid-row: span 2;
}
.sidebar-colspan{
    grid-column: span 2;
}

/* episodes-section */
.episodes-section{
    background-color: rgba(26, 11, 46, 1);
}
.section-title,.host-title{
    text-align: center;
    padding-top: 120px;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}
.video-container,.meet-container,.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}
.content-card{
    height: 440px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 24px;
    transition: transform 0.5s;
}
.content-card:hover{
    transform: scale(1.1);
}
.video-item{
    width: 100%;
    height: 50%;
    border-radius: 24px 24px 0 0;
}
.video-item iframe{
    width: 100%;
    height: 100%;
    border-radius: 24px 24px 0 0;
}
.video-details{
    padding: 24px;
    width: 100%;
    height: 100%;
}
.video-title{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-bottom: 12px;
}
.video-description{
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 12px;
}
.duration{
    color: #00FF88;
    font-weight: 600;
    gap: 5px;
}
.video-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.meet-container{
    padding-bottom: 120px;
}
.host-container{
    background-color: rgba(83, 60, 114, 1);
    border-radius: 40px;
    padding: 40px;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.host-name{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
}
.host-description{
    color: #FFFFFF;
    opacity: 0.6;
    padding: 16px 0;
    line-height: 24px;
}
.social-links{
    list-style: none;
    gap: 8px;
    align-items: center;
}
.social-item{
    border: 2px solid gray;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: transform 1s ;
}
.social-item:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(251, 9, 180, 1);
}
.social link{
    text-decoration: none;
}
 /* footer related style */
    .footer-section{
        max-width: 1600px;
        margin: 0 auto;
        background-image: url("assets/footer-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .footer-container{
        max-width: 1360px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 120px 0;
    }
    .footer-text{
    font-size: 2rem;
       color: #FFFFFF;
    }
    .footer-links{
        display: grid;
        grid-template-columns:repeat(4,1fr) ;
        grid-gap: 40px;
        margin: 32px 0;
    }
    .foot-link{
        text-align:center;
    }
    .footer-links a{
        color: #FFFFFF;
        text-decoration: none;
    }
    .footer-links img{
        margin-right: 8px;
    }
    .copy-right{
        opacity: 0.6;
        color: #FFFFFF;
    }
/* responsive small device */
@media screen and (max-width:576px) {
    /* nav */
    .navbar{
        justify-content: space-between;
        padding: 20px 20px;
    }
    .menu-icon{
        display: inline;
    }
    .nav-links,.nav-btn{
        display: none;
    }
    /* hero */
    .banner-section{
        padding: 40px 20px;
    }
    .hero-content{
        width: 100%;
    }
    .hero-title{
        font-size: 2.5rem;
        margin-top: 24px;
        font-weight: 800;
    }
    /* about-section */
     .about-container{
        padding: 0;
     }
     .about-details{
        padding: 40px 20px;
     }
    
    .about-card{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        gap: 40px;
        margin: 40px 20px;
    }
    hr{
        margin: 0 20px;
    }
    .card-number{
        text-align: center;
        font-size: 2.5rem;
    }
    .aboout-title{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 16px;
    }
    .description{
        text-align: center;
    }
   
    /* choose section*/
    .grid-container{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 285px 0 215px 215px 310px 215px;
        padding: 40px 20px;
        row-gap: 30px;
    }
    .grid-item {
        width: 90vw;
    }
    .grid-title{
        font-size: 1.3rem;
        margin: 16px 0;
    }
    .choose-title{
        font-size: 2rem;
        padding: 40px 20px 0;
        margin-bottom: 0;
    }
    /* episode section */
    .section-title{
        padding: 40px 20px 0;
        margin: 0 20px;
        font-size: 2rem;
        margin-bottom: 24px;
    }
    .meet-container{
        padding-bottom: 40px;
    }
    .video-container{
        grid-template-columns: repeat(1,1fr);
    }
    .content-card{
        margin: 0 20px;
    }
    .host-title{
        padding-top: 60px;
        font-size: 2rem;
    }
    .host-container{
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }
    .host-details{
        text-align: center;
    }
    .social-links{
        justify-content: center;
    }
    /* fotter */
   .footer-links{
    grid-template-columns: repeat(2,1fr);
   }
   .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
    }
    .footer-links{
        gap: 16px;
        margin: 24px 0;
    }
    .copy-right{
        text-align:center;
    }
}
/* Responsive for medium device */
@media screen and (min-width:576px) and (max-width:992px) {
/* navbar */
  .navbar{
        justify-content: space-between;
        padding: 20px 20px;
    }
    /* hero */
    .banner-section{
        padding: 40px 20px;
    }
    .hero-content{
        width: 100%;
    }
    .hero-title{
        font-size: 2.5rem;
        margin-top: 24px;
        font-weight: 800;
    }
    /* about-section */
     .about-container{
        padding: 0;
     }
     .about-details{
        padding: 40px 20px;
     }
    
    .about-card{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        gap: 40px;
        margin: 40px 20px;
    }
    hr{
        margin: 0 20px;
    }
    .card-number{
        text-align: center;
        font-size: 2.5rem;
    }
    .aboout-title{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 16px;
    }
    .description{
        text-align: center;
    }
    /* choose section */
     .grid-container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 285px 0 215px 215px 310px 215px;
        padding: 40px 20px;
        row-gap: 30px;
    } 
     .grid-item {
        overflow: hidden;
        /* width: 90vw; */
    }       
    .grid-title{
        font-size: 1.3rem;
        margin: 16px 0;
    }
    .choose-title{
        font-size: 2rem;
        padding: 40px 20px 0;
        margin-bottom: 0;
    }
     /* episode section */
      .section-title{
        padding: 40px 20px 0;
        margin: 0 20px;
        font-size: 2rem;
        margin-bottom: 24px;
    }
    .video-container{
        grid-template-columns: repeat(2,1fr);
    }
    .content-card{
        margin: 0 20px;
    }
    .video-details{
        overflow: hidden;
    }
    .video-description{
        text-overflow: clip;
    }
    .host-container{
        margin: 0 20px;
    }
    .footer-links{
    grid-template-columns: repeat(2,1fr);
   }
   .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
    }
    .footer-links{
        gap: 16px;
        margin: 24px 0;
    }
    .copy-right{
        text-align:center;
    }
}