@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}

.bg-color{
    background-color: #412567;
}
main{
    max-width: 1600px;
    margin: 0 auto;
}
.text-white{
    color: #FFFFFF;
    font-weight: 400;
}
.gradient-text{
    background: linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-gradient{
    
    background: linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
/* navbar-style */
.nav-btn{
    width: 135px;
    height: 44px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
}
.navbar{
    max-width: 1600px;
    margin: 0 auto;
    height: 92px;
}
.navbar{
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style: none;
    font-weight: 400;
}
.nav-links{
    width: 218px;
    justify-content: space-between;
}
.nav-item a{
    text-decoration: none;
}
.brand{
    width: 219px;
    height: 32px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}


/* banner section */
.banner{
    max-width: 1600px;
    margin: 0 auto;
    background: url('assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
    justify-content: center;
    
}
.banner-content{
    max-width:550px;
    height: 560px;
    background-image: url("assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;
    position: relative;
    top: 100px;
    text-align: center;
}
.banner-logo{
    margin-top: 70px;
    margin-bottom: 121px;
}
.banner-title{
    font-size: 3.75rem;
    color: #FFFFFF;
    margin-bottom: 8px;
    font-weight: 800;
}
.banner-description{
    color: #FFFFFF;
    margin-bottom: 24px;
}
.spotify-btn{
    width: 210px;
    height: 45px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
}
.sub-btn{
    width: 147px;
    height: 45px;
    border: 1px solid #00FF88;
    background: none;
    border-radius: 10000px;
    font-weight: 600;
    color:#00FF88;
}
.banner-btn{
    gap: 8px;
    justify-content: center;
}
/* responsive small device */
@media screen and (max-width:576px) {
    .navbar,.nav-links{
        flex-direction: column;
    }
    .nav-links{
        align-items: center;
    }
}