@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* hide */
.hide{
    display: none;
}
/* shared style */
.display-flex{
    display: flex;
}

.bg-color{
    background-color: #412567;
}
main,.banner,.about-section,.episodes-section{
    max-width: 1600px;
    margin: 0 auto;
}
.text-white{
    color: #FFFFFF;
    font-weight: 400;
}
.gradient-text{
    background: linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-gradient{
    
    background: linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
/* main > section{
    max-width:1200px;
} */
/* navbar-style */
.nav-btn{
    width: 135px;
    height: 44px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
}
.navbar{
    max-width: 1600px;
    margin: 0 auto;
    height: 92px;
}
.navbar{
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style: none;
    font-weight: 400;
}
.nav-links{
    width: 218px;
    justify-content: space-between;
}
.nav-item a{
    text-decoration: none;
}
.brand{
    width: 219px;
    height: 32px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

/* banner-section */
.banner{
    background: url('assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
    justify-content: center;
    
}
.banner-content{
    max-width:550px;
    height: 560px;
    background-image: url("assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;
    position: relative;
    top: 100px;
    text-align: center;
} 
.banner-logo{
    margin-top: 70px;
    margin-bottom: 121px;
}
.banner-title{
    font-size: 3.75rem;
    color: #FFFFFF;
    margin-bottom: 8px;
    font-weight: 800;
}
.banner-description{
    color: #FFFFFF;
    margin-bottom: 24px;
}
.spotify-btn{
    width: 210px;
    height: 45px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
}
.sub-btn{
    width: 147px;
    height: 45px;
    border: 1px solid #00FF88;
    background: none;
    border-radius: 10000px;
    font-weight: 600;
    color:#00FF88;
}
.banner-btn{
    gap: 8px;
    justify-content: center;
}

/* about-section */
.about-section{
    background-color: rgba(26, 11, 46, 1);
    height: 648px;
}
.about-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}
.aboout-title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}
.description{
    color: #FFFFFF;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}
hr{
    margin: 80px 0px;
    opacity: 0.5;
}
.about-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-content: center;
}
.card-number{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: rgba(0, 255, 136, 1);
}
.card-info{
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 16px;
}

/* choose-section */
.choose-section{
   background-color: rgba(35, 14, 61, 1);
   /* height: 1120px; */
}
.choose-container{
    max-width: 1200px;
    margin: 0 auto;
}
.choose-title{
    padding-top: 120px;
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 40px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,225px) 275px;
    gap: 30px;
    padding-bottom: 120px;;
    
}
.grid-item{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    text-align: start;
    padding: 0 40px;
    align-content: center;
}
.grid-title{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 16px 0;
}
.grid-description{
    color: #FFFFFF;
    opacity: 0.6;
    line-height: 24px;
    text-align: left;
}
.sidebar-rowspan{
    grid-row: span 2;
}
.sidebar-colspan{
    grid-column: span 2;
}

/* episodes-section */
.episodes-section{
    background-color: rgba(26, 11, 46, 1);
}
.section-title,.host-title{
    text-align: center;
    padding-top: 120px;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}
.video-container,.meet-container{
    max-width: 1200px;
    margin: 0 auto;
}
.content-card{
    height: 440px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 24px;
}
.video-item{
    width: 100%;
    height: 50%;
    border-radius: 24px 24px 0 0;
}
.video-item iframe{
    width: 100%;
    height: 100%;
    border-radius: 24px 24px 0 0;
}
.video-details{
    padding: 24px;
    width: 100%;
    height: 100%;
}
.video-title{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-bottom: 12px;
}
.video-description{
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 12px;
}
.duration{
    color: #00FF88;
    font-weight: 600;
    gap: 5px;
}
.video-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.meet-container{
    padding-bottom: 120px;
}
.host-container{
    background-color: rgba(83, 60, 114, 1);
    border-radius: 40px;
    padding: 40px;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.host-name{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
}
.host-description{
    color: #FFFFFF;
    opacity: 0.6;
    padding: 16px 0;
    line-height: 24px;
}
.social-links{
    list-style: none;
    gap: 8px;
    align-items: center;
}
.social-item{
    border: 2px solid gray;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.social link{
    text-decoration: none;
}
/* responsive small device */
@media screen and (max-width:576px) {
    /* nav */
    .navbar,.nav-links{
        flex-direction: column;
    }
    .nav-links{
        align-items: center;
    }
    /* about-section */
    /* .about-container{
        padding: 40px 20px;
    } */
     .about-container{
        padding: 0;
     }
     .about-details{
        padding: 40px 20px;
     }
    .about-card{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        gap: 40px;
        margin: 40px 20px;
    }
    hr{
        margin: 0 20px;
    }
    .card-number{
        text-align: center;
        font-size: 2.5rem;
    }
    .aboout-title{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 16px;
    }
    .description{
        text-align: center;
    }
    /* choose section*/
    .grid-container{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 285px 0 215px 215px 310px 215px;
        padding: 40px 20px;
    }
    .grid-item {
        width: 90vw;
    }
    .grid-title{
        font-size: 1.3rem;
        margin: 16px 0;
    }
    .choose-title{
        font-size: 2rem;
        padding: 40px 20px 0;
        margin-bottom: 0;
    }
    /* episode section */
    .section-title{
        padding: 40px 20px 0;
        margin: 0 20px;
        font-size: 2rem;
        margin-bottom: 24px;
    }
    .meet-container{
        padding-bottom: 40px;
    }
    .video-container{
        grid-template-columns: repeat(1,1fr);
    }
    .content-card{
        width: 90%;
        margin: 0 20px;
        justify-content: center;
        align-items: center;
    }
    .host-title{
        padding-top: 60px;
        font-size: 2rem;
    }
    .host-container{
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }
    .host-details{
        text-align: center;
    }
    .social-links{
        justify-content: center;
    }
    
}