@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}

.bg-color{
    background-color: #412567;
}
main{
    max-width: 1600px;
    margin: 0 auto;
}
.text-white{
    color: #FFFFFF;
    font-weight: 400;
}
.gradient-text{
    background: linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-gradient{
    width: 135px;
    height: 44px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}
/* navbar-style */
.navbar{
    max-width: 1600px;
    margin: 0 auto;
    height: 92px;
}
.navbar{
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style: none;
    font-weight: 400;
}
.nav-links{
    width: 218px;
    justify-content: space-between;
}
.nav-item a{
    text-decoration: none;
}
.brand{
    width: 219px;
    height: 32px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

/* responsive small device */
@media screen and (max-width:576px) {
    .navbar,.nav-links{
        flex-direction: column;
    }
    .nav-links{
        align-items: center;
    }
}